<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>WorkApp</title>
	</head>
	<body>
		<!--テンプレートの呼び出し-->
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<h2>申請、通知一覧画面</h2>
			<!--ユーザーの出退勤申請を一覧表示するテーブル-->
			<table class="table">
				<thead>
					<tr>
						<th>日付</th>
						<th>ユーザー名</th>
						<th>詳細</th>
					</tr>
				</thead>
				<!--ユーザーの出退勤申請を一覧表示するオブジェクト-->
				<tbody th:each="obj:${requestFormList}">
					<tr>
						<!--申請日の年月日を表示-->
						<td th:text="|${obj.year}年 ${obj.month}月 ${obj.date}日|"></td>
						<td>
							<!--申請ユーザーの姓名のリンク-->
							<a th:text="|${obj.mUser.lastName} ${obj.mUser.firstName}|" th:href="@{'/admin/form/' + ${obj.id}}"></a>
						</td>
						<!--申請者が何の申請をしているのかのSwitch分岐-->
						<div th:switch="${obj.workStatus}">
							<td>
								<p th:case="1" th:text="勤怠情報修正"></p>
								<p th:case="2" th:text="欠勤"></p>
								<p th:case="3" th:text="有休申請"></p>
								<p th:case="4" th:text="半休"></p>
							</td>
						</div>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>