<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>WorkApp</title>
	</head>
	<body>
		<!--テンプレートの呼び出し-->
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<h2>申請、通知一覧画面</h2>
			<table class="table">
				<thead>
					<tr>
						<th>日付</th>
						<th>ユーザーID</th>
						<th>詳細</th>
					</tr>
				</thead>
				<tbody th:each="obj:${requestFormList}">
					<tr>
						<td></td>
						<td>
							<a th:text="${obj.workId}" th:href="@{'/admin/form/' + ${obj.id}}"></a>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>