<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<!--bootstrapでタブ切り替えを行うためのコード-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
		<title>WorkApp</title>
	</head>
	<body>
		<!--テンプレートの呼び出し-->
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<h2 class="mt-3">申請、アラート一覧</h2>
			<p th:text="${complete}" class="text-success"></p>
			<ul class="nav nav-tabs">
				<li class="nav-item">
			    	<a href="#requestForm" class="nav-link active" data-bs-toggle="tab">申請</a>
			    </li>
			    <li class="nav-item">
		        	<a href="#notification" class="nav-link" data-bs-toggle="tab">アラート</a>
		        </li>
			</ul>
			<div class="tab-content">
				<!--ユーザーの出退勤申請を一覧表示するテーブル-->
				<div id="requestForm" class="tab-pane active">
					<table class="table">
						<thead>
							<tr>
								<th width="30%">日付</th>
								<th width="30%">ユーザー名</th>
								<th width="30%">内容</th>
								<th width="10%">詳細</th>
							</tr>
						</thead>
						<!--出退勤申請を一覧表示するオブジェクト-->
						<tbody th:each="obj:${requestFormList}">
							<tr>
								<!--申請日の年月日を表示-->
								<td th:text="|${obj.year}年 ${obj.month}月 ${obj.date}日|"></td>
								<!--ユーザー名-->
								<td th:text="|${obj.mUser.lastName} ${obj.mUser.firstName}|"></td>
								<!--申請者が何の申請をしているのかのSwitch分岐-->
								<div th:switch="${obj.workStatus}">
									<td>
										<p th:case="1" th:text="勤怠情報修正"></p>
										<p th:case="2" th:text="欠勤"></p>
										<p th:case="3" th:text="有休申請"></p>
										<p th:case="4" th:text="半休"></p>
									</td>
								</div>
								<!--詳細画面へのリンク-->
								<td>
									<a th:href="@{'/admin/form/' + ${obj.id}}" class="btn btn-success">詳細</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--アラートを一覧表示するテーブル-->
				<div id="notification" class="tab-pane">
					<table class="table">
						<thead>
							<tr>
								<th width="25%">日付</th>
								<th width="25%">ユーザー名</th>
								<th width="30%">内容</th>
								<th width="10%">修正</th>
								<th width="10%">削除</th>
							</tr>
						</thead>
						<!--出退勤申請を一覧表示するオブジェクト-->
						<tbody th:each="obj:${notificationList}">
							<tr>
								<!--申請日の年月日を表示-->
								<td th:text="|${obj.work.year}年 ${obj.work.month}月 ${obj.work.date}日|"></td>
								<!--ユーザー名-->
								<td th:text="|${obj.mUser.lastName} ${obj.mUser.firstName}|"></td>
								<!--メッセージ-->
								<td th:text="${obj.message}"></td>
								<!--修正画面へのリンク-->
								<td>
									<a th:href="@{/admin/{id}/edit(id=${obj.work.id})}" class="btn btn-success">修正</a>
								</td>
								<td>
									<form method="post" th:action="@{/admin/notification/delete}">
										<input type="hidden" name="id" th:value="${obj.id}" />
										<input type="submit" class="btn btn-danger" th:value="削除"/>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>