<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/admin/form_detail.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>WorkApp</title>
	</head>
	<body>
		<!--テンプレートの呼び出し-->
		<header layout:replace="~{layout/header::header}"></header>
		<!--申請フォーム情報を表示するメソッド-->
		<div class="container" th:object="${requestFormDetail}">
			<!--申請フォームと同日年月日の勤怠情報が登録されているかどうかで処理を分岐(勤怠情報が登録されている場合)-->
			<div th:if="${requestFormDetail.workId != null}">
				<div class="row mt-5">
					<div class="col-md-2">
						<h4 class="mt-5">登録内容</h4>		
					</div>
					<div class="col-md-10" >
						<!--申請フォームと同日年月日の勤怠情報が登録されていれば該当日の勤怠情報を表示するテーブル-->
						<table class="table table-borderless">
							<thead>
								<tr>
									<th>日付</th>
									<th>出勤ステータス</th>
									<th>出勤時間</th>
									<th>退勤時間</th>
									<th>休憩時間</th>
									<th>就業時間</th>
									<th>残業時間</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<!--該当年月日の表示-->
									<td th:text="|*{year}年 *{month}月 *{date}日|"></td>
									<!--該当日の出勤ステータスのswitch文-->
									<div th:switch="*{work.workStatus}">
										<td>
											<p th:case="1" th:text="出勤"></p>
											<p th:case="2" th:text="欠勤"></p>
											<p th:case="3" th:text="有休"></p>
											<p th:case="4" th:text="半休"></p>
										</td>
									</div>
									<!--該当日の出勤時間、退勤時間、休憩時間、就業時間、残業時間を表示-->
									<td th:text="|*{work.attendanceHour}時*{work.attendanceMinute}分|"></td>
									<td th:text="|*{work.leavingHour}時*{work.leavingMinute}分|"></td>
									<td th:text="|*{work.restHour}時間*{work.restMinute}分|"></td>
									<td th:text="|*{work.workingTimeHour}時間*{work.workingTimeMinute}分|"></td>
									<td th:text="|*{work.overTimeHour}時間*{work.overTimeMinute}分|"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--申請フォームと同日年月日の勤怠情報が登録されているかどうかで処理を分岐(勤怠情報が登録されていない場合)-->
			<div th:if="${requestFormDetail.workId == null}">
				<div class="row mt-5">
					<div class="col-md-2">
						<h4 class="mt-5">登録内容</h4>
					</div>
					<div class="col-md-10">
						<!--該当年月日の勤怠情報はありませんと表示-->
						<p th:text="|*{year}年 *{month}月 *{date}日 の勤怠情報はありません|" class="mt-5"></p>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md-2">
					<h4 class="mt-5">申請内容</h4>	
				</div>
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-2">
							<label for="day">日付</label>
						</div>
						<div class="col-md-3">
							<!--該当年月日の表示-->
							<p th:text="|*{year}年 *{month}月 *{date}日|"></p>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2">
							<p>出勤ステータス</p>
						</div>
						<div class="col-md-3">
							<!--該当日の出勤ステータスのswitch文-->
							<div th:switch="*{workStatus}">
								<td>
									<p th:case="1" th:text="出勤"></p>
									<p th:case="2" th:text="欠勤"></p>
									<p th:case="3" th:text="有休"></p>
									<p th:case="4" th:text="半休"></p>
								</td>
							</div>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2">
							<p>出勤(時)</p>
						</div>
						<div class="col-md-1">
							<!--出勤時間（時）-->
							<p th:text="*{attendanceHour}"></p>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-2">
							<p>出勤(分)</p>
						</div>
						<div class="col-md-1">
							<!--出勤時間（分）-->
							<p th:text="*{attendanceMinute}"></p>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2">
							<p>退勤(時)</p>
						</div>
						<div class="col-md-1">
							<!--退勤時間（時）-->
							<p th:text="*{leavingHour}"></p>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-2">
							<p>退勤(分)</p>
						</div>
						<div class="col-md-1">
							<!--退勤時間（分）-->
							<p th:text="*{leavingMinute}"></p>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2">
							<p>休憩(時)</p>
						</div>
						<div class="col-md-1">
							<!--休憩時間（時）-->
							<p th:text="*{restHour}"></p>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-2">
							<p>休憩(分)</p>
						</div>
						<div class="col-md-1">
							<!--休憩時間（分）-->
							<p th:text="*{restMinute}"></p>
						</div>
					</div>
					<p>コメント</p>
					<div class="row">
						<div class="col-md-7">
							<!--コメント-->
							<p th:text="*{comment}"></p>
						</div>
						<div class="col-md-5">
							<!--ユーザーから申請された内容を反映させるフォーム-->
							<form method="post" th:action="@{/admin/form/update}" th:object="${requestFormDetail}">
								<input type="hidden" th:field="*{id}" />
								<input type="hidden" th:field="*{work.id}" />
								<input type="hidden" th:field="*{work.attendanceHour}" />
								<input type="hidden" th:field="*{work.attendanceMinute}" />
								<input type="hidden" th:field="*{work.leavingHour}" />
								<input type="hidden" th:field="*{work.leavingMinute}" />
								<input type="hidden" th:field="*{work.restHour}" />
								<input type="hidden" th:field="*{work.restMinute}" />
								<input type="hidden" th:field="*{work.workStatus}" />
								<input type="submit" th:value="申請内容を反映する" class="btn btn-success button">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>