<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>WorkApp</title>
	</head>
	<body>
		<!--テンプレートの呼び出し-->
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<table class="table mt-5">
				<thead>
					<tr>
						<th>ユーザー名</th>
						<th>姓</th>
						<th>名</th>
					</tr>
				</thead>
				<tbody th:each="obj:${userList}">
					<tr>
						<td>
							<a th:text="${obj.userId}" th:href="@{'/admin/' + ${obj.userId} + '/' + ${year} + '/' + ${month}}"></a>
						</td>
						<td th:text="${obj.lastName}"></td>
						<td th:text="${obj.firstName}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>