<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/admin/user_work_edit.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>WorkApp</title>
	</head>
	<body>
		<!--テンプレートの呼び出し-->
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<div th:if="${workDetail != null}">
				<form method="post" th:action="@{/admin/edit}" th:object="${workEditForm}">
					<input type="hidden" th:field="*{id}"/>
					<input type="hidden" th:field="*{userId}"/>
					<input type="hidden" th:field="*{year}"/>
					<input type="hidden" th:field="*{month}"/>
					<input type="hidden" th:field="*{date}"/>
					<input type="hidden" th:field="*{workingTimeHour}"/>
					<input type="hidden" th:field="*{workingTimeMinute}"/>
					<input type="hidden" th:field="*{overTimeHour}"/>
					<input type="hidden" th:field="*{overTimeMinute}"/>
					<div class="row mt-5">
						<div class="col-md-2">
							<p>日付</p>
						</div>
						<div class="col">
							<p th:text="|*{year}年 *{month}月 *{date}日|"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label for="workStatus">出勤ステータス</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<div th:each="item : ${workStatusMap}" class="form-check-inline">
									<input type="radio" class="form-check-input" th:value="${item.value}" th:field="*{workStatus}" th:errorclass="is-invalid"/>
									<label class="form-check-label" th:text="${item.key}"></label>
								</div>
								<div class="text-danger" th:if="${#fields.hasErrors('workStatus')}" th:errors="*{workStatus}"></div>
							</div>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2">
							<label for="attendanceHour">出勤(時)</label>
						</div>
						<div class="col-md-3">
							<select name="attendanceHour" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${hourNumbers}" th:value="${number}" th:text="${number}" th:field="*{attendanceHour}"></option>
							</select>
						</div>
						<div class="col-md-2">
							<label for="attendanceMinute">出勤(分)</label>
						</div>
						<div class="col-md-3">
							<select name="attendanceMinute" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${minuteNumbers}" th:value="${number}" th:text="${number}" th:field="*{attendanceMinute}"></option>
							</select>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2">
							<label for="leavingHour">退勤(時)</label>
						</div>
						<div class="col-md-3">
							<select name="leavingHour" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${hourNumbers}" th:value="${number}" th:text="${number}" th:field="*{leavingHour}"></option>
							</select>
						</div>
						<div class="col-md-2">
							<label for="leavingMinute">退勤(分)</label>
						</div>
						<div class="col-md-3">
							<select name="leavingMinute" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${minuteNumbers}" th:value="${number}" th:text="${number}" th:field="*{leavingMinute}"></option>
							</select>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2">
							<label for="restHour">休憩(時)</label>
						</div>
						<div class="col-md-3">
							<select name="restHour" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${hourNumbers}" th:value="${number}" th:text="${number}" th:field="*{restHour}"></option>
							</select>
						</div>
						<div class="col-md-2">
							<label for="restMinute">休憩(分)</label>
						</div>
						<div class="col-md-3">
							<select name="restMinute" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${minuteNumbers}" th:value="${number}" th:text="${number}" th:field="*{restMinute}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-5 button">
						<input type="submit" th:value="修正" class="btn btn-primary ml-5"/>
						<a th:href="@{/admin/users}" class="btn btn-danger ml-5">キャンセル</a>
					</div>
				</form>
			</div>
			<div th:if="${workDetail == null}">	
				<form method="post" th:action="@{/admin/edit}" th:object="${workEditForm}">
					<input type="hidden" th:field="*{id}"/>
					<input type="hidden" th:field="*{userId}"/>
					<input type="hidden" th:field="*{year}"/>
					<input type="hidden" th:field="*{month}"/>
					<input type="hidden" th:field="*{date}"/>
					<input type="hidden" th:field="*{workingTimeHour}"/>
					<input type="hidden" th:field="*{workingTimeMinute}"/>
					<input type="hidden" th:field="*{overTimeHour}"/>
					<input type="hidden" th:field="*{overTimeMinute}"/>
					<div class="row mt-5">
						<div class="col-md-2">
							<p>日付</p>
						</div>
						<div class="col">
							<p th:text="|*{year}年 *{month}月 *{date}日|"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<label for="workStatus">出勤ステータス</label>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<div th:each="item : ${workStatusMap}" class="form-check-inline">
									<input type="radio" class="form-check-input" th:value="${item.value}" th:field="*{workStatus}" th:errorclass="is-invalid"/>
									<label class="form-check-label" th:text="${item.key}"></label>
								</div>
								<div class="text-danger" th:if="${#fields.hasErrors('workStatus')}" th:errors="*{workStatus}"></div>
							</div>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2">
							<label for="attendanceHour">出勤(時)</label>
						</div>
						<div class="col-md-3">
							<select name="attendanceHour" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${hourNumbers}" th:value="${number}" th:text="${number}" th:field="*{attendanceHour}"></option>
							</select>
						</div>
						<div class="col-md-2">
							<label for="attendanceMinute">出勤(分)</label>
						</div>
						<div class="col-md-3">
							<select name="attendanceMinute" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${minuteNumbers}" th:value="${number}" th:text="${number}" th:field="*{attendanceMinute}"></option>
							</select>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2">
							<label for="leavingHour">退勤(時)</label>
						</div>
						<div class="col-md-3">
							<select name="leavingHour" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${hourNumbers}" th:value="${number}" th:text="${number}" th:field="*{leavingHour}"></option>
							</select>
						</div>
						<div class="col-md-2">
							<label for="leavingMinute">退勤(分)</label>
						</div>
						<div class="col-md-3">
							<select name="leavingMinute" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${minuteNumbers}" th:value="${number}" th:text="${number}" th:field="*{leavingMinute}"></option>
							</select>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-2">
							<label for="restHour">休憩(時)</label>
						</div>
						<div class="col-md-3">
							<select name="restHour" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${hourNumbers}" th:value="${number}" th:text="${number}" th:field="*{restHour}"></option>
							</select>
						</div>
						<div class="col-md-2">
							<label for="restMinute">休憩(分)</label>
						</div>
						<div class="col-md-3">
							<select name="restMinute" class="form-control time-form">
								<option value="">--</option>
								<option th:each="number : ${minuteNumbers}" th:value="${number}" th:text="${number}" th:field="*{restMinute}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-5 button">
						<input type="submit" th:value="登録" class="btn btn-primary ml-5"/>
						<a th:href="@{/admin/users}" class="btn btn-danger ml-5">キャンセル</a>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>