<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/admin/user_detail.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>WorkApp</title>
	</head>
	<body>
		<!--テンプレートの呼び出し-->
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-5">
					<!--指定したユーザーのユーザー名を表示-->
					<h2 th:text="|${userDetail.lastName} ${userDetail.firstName}さんの勤怠情報|"></h2>
				</div>
				<div class="col-md-2">
					<!--csvファイルの出力を行うためのボタン-->
					<a th:href="@{/admin/{userId}/{year}/{month}/csv(userId = ${userDetail.userId}, year = ${year}, month = ${month})}" class="btn btn-primary">CSVダウンロード</a>
				</div>
				<div class="col-md-1 text-right">
					<!--先月の勤怠情報月毎一覧へのリンク-->
					<form method="get" th:action="@{/admin/{userId}/{year}/{month}/previous(userId = ${userDetail.userId}, year = ${year}, month = ${month})}">
						<input type="hidden" th:field="${userDetail.userId}"/>
						<input type="submit" value="◀" class="button"/>
					</form>
				</div>
				<div class="col-md-3 text-center">
					<!--現在表示されている年月を表示-->
					<h3 th:text="|${year}年 ${month}月|"></h3>
				</div>
				<div class="col-md-1">
					<!--翌月の勤怠情報月毎一覧へのリンク-->
					<form method="get" th:action="@{/admin/{userId}/{year}/{month}/next(userId = ${userDetail.userId}, year = ${year}, month = ${month})}">
						<input type="hidden" th:field="${userDetail.userId}"/>
						<input type="submit" value="▶" class="button"/>
					</form>
				</div>
			</div>
			<!--出退勤登録、修正時にフラッシュメッセージを表示-->
			<p th:text="${complete}" class="text-success"></p>
			<!--勤怠情報月毎一覧表示するテーブル-->
			<table class="table table-bordered">
				<thead>
					<tr>
						<th width="10%">日付</th>
						<th width="10%">曜日</th>
						<th width="13%">出勤ステータス</th>
						<th width="11%">出勤</th>
						<th width="11%">退勤</th>
						<th width="11%">休憩</th>
						<th width="11%">就業時間</th>
						<th width="11%">残業時間</th>
						<th width="12%">登録/修正</th>
					</tr>
				</thead>
				<tbody>
					<!--該当月の最終日にちまで繰り返し処理-->
					<tr th:each="date : ${#numbers.sequence(1, lastDateOfMonth)}">
						<!--月日の表示-->
						<td class="align-middle" th:text="|${month}月${date}日|"></td>
						<!--dayOfWeekListに格納した曜日情報を表示(index番号で登録されているため-1をしないとズレてしまう)-->
						<td class="align-middle" th:text="${dayOfWeekList[__${date - 1}__]}"></td>
						<!--該当日の勤怠情報が登録されていれば以下を表示する-->
		            	<th:block th:if="${workMap[__${date}__]}">
			            	<!--該当日の出勤ステータスのswitch文-->
							<div th:switch="${workMap[__${date}__].workStatus}">
								<td th:case="1" th:text="出勤" class="align-middle"></td>
								<td th:case="2" th:text="欠勤" class="align-middle"></td>
								<td th:case="3" th:text="有休" class="align-middle"></td>
								<td th:case="4" th:text="半休" class="align-middle"></td>
							</div>
							<!--該当日の出勤ステータスが出勤であれば登録情報を表示を表示-->
							<div th:if="${workMap[__${date}__].workStatus == 1}">
								<!--出勤時間(登録時間が一桁か二桁かで表示方法を分岐)-->
								<div th:if="${workMap[__${date}__].attendanceHour == null or workMap[__${date}__].attendanceMinute == null}">
									<td class="align-middle">----</td>
								</div>
								<div th:if="${workMap[__${date}__].attendanceHour != null and workMap[__${date}__].attendanceMinute != null}">
									<div th:if="${workMap[__${date}__].attendanceHour < 10 and workMap[__${date}__].attendanceMinute < 10}">
										<td class="align-middle" th:text="|0${workMap[__${date}__].attendanceHour}:0${workMap[__${date}__].attendanceMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].attendanceHour < 10 and workMap[__${date}__].attendanceMinute >= 10}">
										<td class="align-middle" th:text="|0${workMap[__${date}__].attendanceHour}:${workMap[__${date}__].attendanceMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].attendanceHour >= 10 and workMap[__${date}__].attendanceMinute < 10}">
										<td class="align-middle" th:text="|${workMap[__${date}__].attendanceHour}:0${workMap[__${date}__].attendanceMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].attendanceHour >= 10 and workMap[__${date}__].attendanceMinute >= 10}">
										<td class="align-middle" th:text="|${workMap[__${date}__].attendanceHour}:${workMap[__${date}__].attendanceMinute}|"></td>
									</div>
								</div>
								<!--退勤時間(登録時間が一桁か二桁かで表示方法を分岐)-->
								<div th:if="${workMap[__${date}__].leavingHour == null or workMap[__${date}__].leavingMinute == null}">
									<td class="align-middle">----</td>
								</div>
								<div th:if="${workMap[__${date}__].leavingHour != null and workMap[__${date}__].leavingMinute != null}">
									<div th:if="${workMap[__${date}__].leavingHour < 10 and workMap[__${date}__].leavingMinute < 10}">
										<td class="align-middle" th:text="|0${workMap[__${date}__].leavingHour}:0${workMap[__${date}__].leavingMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].leavingHour < 10 and workMap[__${date}__].leavingMinute >= 10}">
										<td class="align-middle" th:text="|0${workMap[__${date}__].leavingHour}:${workMap[__${date}__].leavingMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].leavingHour >= 10 and workMap[__${date}__].leavingMinute < 10}">
										<td class="align-middle" th:text="|${workMap[__${date}__].leavingHour}:0${workMap[__${date}__].leavingMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].leavingHour >= 10 and workMap[__${date}__].leavingMinute >= 10}">
										<td class="align-middle" th:text="|${workMap[__${date}__].leavingHour}:${workMap[__${date}__].leavingMinute}|"></td>
									</div>
								</div>
								<!--休憩時間(登録時間が一桁か二桁かで表示方法を分岐)-->
								<div th:if="${workMap[__${date}__].restHour == null or workMap[__${date}__].restMinute == null}">
									<td class="align-middle">----</td>
								</div>
								<div th:if="${workMap[__${date}__].restHour != null and workMap[__${date}__].restMinute != null}">
									<div th:if="${workMap[__${date}__].restHour < 10 and workMap[__${date}__].restMinute < 10}">
										<td class="align-middle" th:text="|0${workMap[__${date}__].restHour}:0${workMap[__${date}__].restMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].restHour < 10 and workMap[__${date}__].restMinute >= 10}">
										<td class="align-middle" th:text="|0${workMap[__${date}__].restHour}:${workMap[__${date}__].restMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].restHour >= 10 and workMap[__${date}__].restMinute < 10}">
										<td class="align-middle" th:text="|${workMap[__${date}__].restHour}:0${workMap[__${date}__].restMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].restHour >= 10 and workMap[__${date}__].restMinute >= 10}">
										<td class="align-middle" th:text="|${workMap[__${date}__].restHour}:${workMap[__${date}__].restMinute}|"></td>
									</div>
								</div>
								<!--就業時間(登録時間が一桁か二桁かで表示方法を分岐)-->
								<div th:if="${workMap[__${date}__].workingTimeHour == null or workMap[__${date}__].workingTimeMinute == null}">
									<td class="align-middle">----</td>
								</div>
								<div th:if="${workMap[__${date}__].workingTimeHour != null and workMap[__${date}__].workingTimeMinute != null}">
									<div th:if="${workMap[__${date}__].workingTimeHour < 10 and workMap[__${date}__].workingTimeMinute < 10}">
										<td class="align-middle" th:text="|0${workMap[__${date}__].workingTimeHour}:0${workMap[__${date}__].workingTimeMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].workingTimeHour < 10 and workMap[__${date}__].workingTimeMinute >= 10}">
										<td class="align-middle" th:text="|0${workMap[__${date}__].workingTimeHour}:${workMap[__${date}__].workingTimeMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].workingTimeHour >= 10 and workMap[__${date}__].workingTimeMinute < 10}">
										<td class="align-middle" th:text="|${workMap[__${date}__].workingTimeHour}:0${workMap[__${date}__].workingTimeMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].workingTimeHour >= 10 and workMap[__${date}__].workingTimeMinute >= 10}">
										<td class="align-middle" th:text="|${workMap[__${date}__].workingTimeHour}:${workMap[__${date}__].workingTimeMinute}|"></td>
									</div>
								</div>
								<!--残業時間(登録時間が一桁か二桁かで表示方法を分岐)-->
								<div th:if="${workMap[__${date}__].overTimeHour == null or workMap[__${date}__].overTimeMinute == null}">
									<td class="align-middle">----</td>
								</div>
								<div th:if="${workMap[__${date}__].overTimeHour != null and workMap[__${date}__].overTimeMinute != null}">
									<div th:if="${workMap[__${date}__].overTimeHour < 10 and workMap[__${date}__].overTimeMinute < 10}">
										<td class="align-middle" th:text="|0${workMap[__${date}__].overTimeHour}:0${workMap[__${date}__].overTimeMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].overTimeHour < 10 and workMap[__${date}__].overTimeMinute >= 10}">
										<td class="align-middle" th:text="|0${workMap[__${date}__].overTimeHour}:${workMap[__${date}__].overTimeMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].overTimeHour >= 10 and workMap[__${date}__].overTimeMinute < 10}">
										<td class="align-middle" th:text="|${workMap[__${date}__].overTimeHour}:0${workMap[__${date}__].overTimeMinute}|"></td>
									</div>
									<div th:if="${workMap[__${date}__].overTimeHour >= 10 and workMap[__${date}__].overTimeMinute >= 10}">
										<td class="align-middle" th:text="|${workMap[__${date}__].overTimeHour}:${workMap[__${date}__].overTimeMinute}|"></td>
									</div>
								</div>
							</div>
							<!--該当日の出勤ステータスが出勤以外であれば-を表示(nullのため)-->
							<div th:if="${workMap[__${date}__].workStatus != 1}">
								<td class="align-middle">----</td>
								<td class="align-middle">----</td>
								<td class="align-middle">----</td>
								<td class="align-middle">----</td>
								<td class="align-middle">----</td>
							</div>
							<td class="align-middle">
								<!--該当日の出退勤修正画面へのリンク-->
								<a th:href="@{'/admin/' + ${workMap[__${date}__].id} + '/edit'}" class="btn btn-success">修正</a>
							</td>
			          	</th:block>
			          	<!--該当日の勤怠情報が登録されていなければ以下を表示する-->
		          		<th:block th:unless="${workMap[__${date}__]}">
		            		<!--該当日の出勤ステータスのswitch文(曜日が月〜金なら「出勤」、土日なら「休日」を表示)-->
		            		<div th:switch="${dayOfWeekList[__${date - 1}__]}">
								<td th:case="日" th:text="休日" class="text-danger align-middle"></td>
								<td th:case="月" th:text="出勤" class="align-middle"></td>
								<td th:case="火" th:text="出勤" class="align-middle"></td>
								<td th:case="水" th:text="出勤" class="align-middle"></td>
								<td th:case="木" th:text="出勤" class="align-middle"></td>
								<td th:case="金" th:text="出勤" class="align-middle"></td>
								<td th:case="土" th:text="休日" class="text-danger align-middle"></td>
							</div>
							<!--勤怠情報は存在しないので-と表示する-->
		            		<td class="align-middle">----</td>
		            		<td class="align-middle">----</td>
		            		<td class="align-middle">----</td>
		            		<td class="align-middle">----</td>
		            		<td class="align-middle">----</td>
		            		<td class="align-middle">
								<!--該当日の出退勤登録画面へのリンク-->
								<a th:href="@{/admin/{userId}/{year}/{month}/{date}/edit(userId=${userDetail.userId}, year=${year}, month=${month}, date=${date})}" class="btn btn-success">登録</a>
							</td>
		          		</th:block>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>