<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>WorkManagement</title>
	</head>
	<body>
		<!--テンプレートの呼び出し-->
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<h2>申請フォーム</h2>
			<form method="post" th:action="@{/form/confirm}" th:object="${formForm}">
				<!--出勤ステータス-->
				<div class="field">
					<label for="workStatus">出勤ステータス</label>
					<input type="text" class="form-control" th:field="*{workStatus}"/>
				</div>
				<!--出勤(時)-->
				<div class="field">
					<label for="attendanceHour">出勤(時)</label>
					<input type="text" class="form-control" th:field="*{attendanceHour}"/>
				</div>
				<!--出勤(分)-->
				<div class="field">
					<label for="attendanceMinute">出勤(分)</label>
					<input type="text" class="form-control" th:field="*{attendanceMinute}"/>
				</div>
				<!--退勤(時)-->
				<div class="field">
					<label for="leavingHour">退勤(時)</label>
					<input type="text" class="form-control" th:field="*{leavingHour}"/>
				</div>
				<!--退勤(分)-->
				<div class="field">
					<label for="leavingMinute">退勤(分)</label>
					<input type="text" class="form-control" th:field="*{leavingMinute}"/>
				</div>
				<!--休憩(時)-->
				<div class="field">
					<label for="restHour">休憩(時)</label>
					<input type="text" class="form-control" th:field="*{restHour}"/>
				</div>
				<!--休憩(分)-->
				<div class="field">
					<label for="restMinute">休憩(分)</label>
					<input type="text" class="form-control" th:field="*{restMinute}"/>
				</div>
				<!--コメント-->
				<div class="field">
					<label for="comment">コメント</label>
					<input type="text" class="form-control" th:field="*{comment}"/>
				</div>
				<!--ログインボタン-->
				<input type="submit" value="確認画面へ" class="btn btn-primary"/>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</form>
		</div>
	</body>
</html>