<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/user/work_input.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<script th:src="@{/js/user/work_input.js}" defer></script>
		<title>WorkApp</title>
	</head>
	<body>
		<!--テンプレートの呼び出し-->
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<p th:text="${complete}" class="text-success"></p>
			<div class="row">
				<div class="col-md-7">
					<div class="card">
						<p th:text="|${year}年 ${month}月 ${date}日(${week})|" class="today"></p>
						<div id="clock"></div>
					</div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<form method="post" th:action="@{/work/attendance}" id="abtn">
						<input type="submit" value="出勤"/>
					</form>
				</div>
				<div class="col-md-2">
					<form method="post" th:action="@{/work/leaving}" id="lbtn">
						<input type="submit" value="退勤"/>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7"></div>
				<div class="col">
					<a th:href="@{/work/{year}/{month} (year=${year}, month=${month})}" class="btn btn-success ibtn">出退勤一覧︎︎</a>
				</div>
			</div>
		</div>
	</body>
</html>