<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/user/work_index.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>WorkApp</title>
	</head>
	<body>
		<!--テンプレートの呼び出し-->
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<div class="row mt-5">
				<div class="col-md-6">
					<h2 th:text="|${loginUser.lastName} ${loginUser.firstName}さんの勤怠情報|"></h2>
				</div>
				<div class="col-md-1 text-right">
					<a th:href="@{/work/{year}/{month}/previous(year=${year}, month=${month})}" class="button">◀︎︎️</a>
				</div>
				<div class="col-md-4 text-center">
					<h3 th:text="|${year}年 ${month}月|"></h3>
				</div>
				<div class="col-md-1">
					<a th:href="@{/work/{year}/{month}/next(year=${year}, month=${month})}" class="button">▶︎︎</a>
				</div>
			</div>
			<p th:text="${complete}" class="text-success"></p>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>日付</th>
						<th>出勤ステータス</th>
						<th>出勤</th>
						<th>退勤</th>
						<th>休憩</th>
						<th>就業時間</th>
						<th>残業時間</th>
						<th>修正申請</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="date : ${#numbers.sequence(1, lastDateOfMonth)}">
						<td th:text="|${month}月${date}日|"></td>
						<!-- 勤怠情報が存在するかチェック -->
		            	<th:block th:if="${workMap[__${date}__]}">
			            	<!-- 勤怠情報が存在する場合の表示 -->
							<div th:switch="${workMap[__${date}__].workStatus}">
								<td>
									<p th:case="1" th:text="出勤"></p>
									<p th:case="2" th:text="欠勤"></p>
									<p th:case="3" th:text="有休"></p>
									<p th:case="4" th:text="半休"></p>
								</td>
							</div>
							<td th:text="|${workMap[__${date}__].attendanceHour}時${workMap[__${date}__].attendanceMinute}分|"></td>
							<td th:text="|${workMap[__${date}__].leavingHour}時${workMap[__${date}__].leavingMinute}分|"></td>
							<td th:text="|${workMap[__${date}__].restHour}時間${workMap[__${date}__].restMinute}分|"></td>
							<td th:text="|${workMap[__${date}__].workingTimeHour}時間${workMap[__${date}__].workingTimeMinute}分|"></td>
							<td th:text="|${workMap[__${date}__].overTimeHour}時間${workMap[__${date}__].overTimeMinute}分|"></td>
							<td>
								<a th:href="@{'/form/' + ${workMap[__${date}__].id}}" class="btn btn-success btn-sm">修正申請</a>
							</td>
			          	</th:block>
		          		<th:block th:unless="${workMap[__${date}__]}">
		            		<!-- 勤怠情報が存在しない場合の表示 -->
		            		<td>----</td>
		            		<td>----</td>
		            		<td>----</td>
		            		<td>----</td>
		            		<td>----</td>
		            		<td>----</td>
		            		<td>----</td>
		          		</th:block>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>