<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
		<!--CSS読込-->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<!--JS読込-->
		<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
		<title>WorkApp</title>
	</head>
	<body>
		<!--テンプレートの呼び出し-->
		<header layout:replace="~{layout/header::header}"></header>
		<div class="container">
			<h2 th:text="|${loginUser.lastName} ${loginUser.firstName}さんの勤怠情報|"></h2>
			<h3 th:text="${complete}"></h3>
			<table class="table">
				<thead>
					<tr>
						<th>日付</th>
						<th>出勤ステータス</th>
						<th>出勤</th>
						<th>退勤</th>
						<th>休憩</th>
						<th>就業時間</th>
						<th>残業時間</th>
						<th>修正申請</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="obj : ${workList}">
						<td th:text="|${obj.month}月 ${obj.date}日|"></td>
						<td th:text="${obj.workStatus}"></td>
						<td th:text="|${obj.attendanceHour}:${obj.attendanceMinute}|"></td>
						<td th:text="|${obj.leavingHour}:${obj.leavingMinute}|"></td>
						<td th:text="|${obj.restHour}:${obj.restMinute}|"></td>
						<td th:text="|${obj.workingTimeHour}:${obj.workingTimeMinute}|"></td>
						<td th:text="|${obj.overTimeHour}:${obj.overTimeMinute}|"></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>