<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapperとxmlのマッピング-->
<mapper namespace="com.example.repository.MUserMapper">
	
	<!--マッピング定義(ユーザー)-->
	<resultMap id="user" type="com.example.model.MUser">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="password" property="password"/>
		<result column="last_name" property="lastName"/>
		<result column="first_name" property="firstName"/>
		<result column="birthday" property="birthday"/>
		<result column="role" property="role"/>
		<association property="work" resultMap="work" columnPrefix="work_"/>
	</resultMap>
	
	<!--マッピング定義(勤怠)-->
	<resultMap id="work" type="com.example.model.Work">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="year" property="year"/>
		<result column="month" property="month"/>
		<result column="date" property="date"/>
		<result column="attendance_hour" property="attendanceHour"/>
		<result column="attendance_minute" property="attendanceMinute"/>
		<result column="leaving_hour" property="leavingHour"/>
		<result column="leaving_minute" property="leavingMinute"/>
		<result column="rest_hour" property="restHour"/>
		<result column="rest_minute" property="restMinute"/>
		<result column="working_time_hour" property="workingTimeHour"/>
		<result column="working_time_minute" property="workingTimeMinute"/>
		<result column="over_time_hour" property="overTimeHour"/>
		<result column="over_time_minute" property="overTimeMinute"/>
		<result column="work_status" property="workStatus"/>
	</resultMap>
	
	<!--ユーザー一覧取得-->
	<select id="selectUserList" resultType="MUser">
		select
			*
		from
			m_user
		where
			role = 'USER'
	</select>
	
	<!--ユーザー詳細取得-->
	<select id="selectUserDetail" resultMap="user">
		select
			*
		from
			m_user
		where
			user_id = #{userId}
	</select>
	
	<!--ユーザー新規登録-->
	<insert id="insertUser">
		insert
		into
			m_user (
				user_id,
				password,
				last_name,
				first_name,
				birthday,
				role
			)
		values (
			#{userId},
			#{password},
			#{lastName},
			#{firstName},
			#{birthday},
			#{role}
		)
	</insert>
	
	<!--ユーザーのuserId一覧取得-->
	<select id="selectUserIdList" resultType="String">
		select
			user_id
		from
			m_user
	</select>
	
	<!--ユーザーID(Str)詳細取得-->
	<select id="selectUserIdStr" resultMap="user" resultType="MUser">
		select
			*
		from
			m_user
		left
		join
			work
		on
			m_user.id = work.user_id
		where
			m_user.id = #{id}
	</select>
	
</mapper>