<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapperとxmlのマッピング-->
<mapper namespace="com.example.repository.MUserMapper">
	<!--マッピング定義(ユーザー)-->
	<resultMap id="user" type="com.example.model.MUser">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="password" property="password"/>
		<result column="last_name" property="lastName"/>
		<result column="first_name" property="firstName"/>
		<result column="birthday" property="birthday"/>
		<result column="role" property="role"/>
	</resultMap>
	<!--ログインユーザー取得-->
	<select id="getLoginUser" resultType="MUser">
		select * from m_user where user_id = #{userId}
	</select>
	<!--ユーザー一覧取得-->
	<select id="getUserList" resultType="MUser">
		select * from m_user where role = 'USER'
	</select>
	<!--ユーザー詳細取得-->
	<select id="getUserDetail" resultMap="user">
		select * from m_user where user_id = #{userId}
	</select>
	<!--ユーザー新規登録-->
	<insert id="insertUser">
		insert into m_user(user_id, password, last_name, first_name, birthday, role)
		values(#{userId}, #{password}, #{lastName}, #{firstName}, #{birthday}, #{role})
	</insert>
</mapper>