<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapperとxmlのマッピング-->
<mapper namespace="com.example.repository.RequestFormMapper">
	<!--マッピング定義(申請フォーム)-->
	<resultMap id="requestForm" type="com.example.model.RequestForm">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="year" property="year"/>
		<result column="month" property="month"/>
		<result column="date" property="date"/>
		<result column="work_status_new" property="workStatusNew"/>
		<result column="attendance_hour_new" property="attendanceHourNew"/>
		<result column="attendance_minute_new" property="attendanceMinuteNew"/>
		<result column="leaving_hour_new" property="leavingHourNew"/>
		<result column="leaving_minute_new" property="leavingMinuteNew"/>
		<result column="rest_hour_new" property="restHourNew"/>
		<result column="rest_minute_new" property="restMinuteNew"/>
		<result column="comment" property="comment"/>
		<result column="work_status_old" property="workStatusOld"/>
		<result column="attendance_hour_old" property="attendanceHourOld"/>
		<result column="attendance_minute_old" property="attendanceMinuteOld"/>
		<result column="leaving_hour_old" property="leavingHourOld"/>
		<result column="leaving_minute_old" property="leavingMinuteOld"/>
		<result column="rest_hour_old" property="restHourOld"/>
		<result column="rest_minute_old" property="restMinuteOld"/>
	</resultMap>
	<!--申請フォーム登録-->
	<insert id="insertForm">
		insert 
		into 
			request_form (
				work_id,
				work_status,
				attendance_hour,
				attendance_minute,
				leaving_hour,
				leaving_minute,
				rest_hour,
				rest_minute,
				comment
			) 
		values (
			#{workId},
			#{workStatus},
			#{attendanceHour},
			#{attendanceMinute},
			#{leavingHour},
			#{leavingMinute},
			#{restHour},
			#{restMinute},
			#{comment}
		)
	</insert>
	<!--申請フォーム一覧取得-->
	<select id="selectRequestFormList" resultType="RequestForm">
		select * from request_form
	</select>
	<!--申請フォーム詳細取得-->
	<select id="selectRequestFormDetail" resultType="RequestForm">
		select * from request_form where id = #{id}
	</select>
</mapper>