<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapperとxmlのマッピング-->
<mapper namespace="com.example.repository.WorkMapper">
	
	<!--マッピング定義(勤怠)-->
	<resultMap id="work" type="com.example.model.Work">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="year" property="year"/>
		<result column="month" property="month"/>
		<result column="date" property="date"/>
		<result column="attendance_hour" property="attendanceHour"/>
		<result column="attendance_minute" property="attendanceMinute"/>
		<result column="leaving_hour" property="leavingHour"/>
		<result column="leaving_minute" property="leavingMinute"/>
		<result column="rest_hour" property="restHour"/>
		<result column="rest_minute" property="restMinute"/>
		<result column="working_time_hour" property="workingTimeHour"/>
		<result column="working_time_minute" property="workingTimeMinute"/>
		<result column="over_time_hour" property="overTimeHour"/>
		<result column="over_time_minute" property="overTimeMinute"/>
		<result column="work_status" property="workStatus"/>
		<association property="mUser" resultMap="user" columnPrefix="user_"/>
	</resultMap>
	
	<!--マッピング定義(ユーザー)-->
	<resultMap id="user" type="com.example.model.MUser">
		<id column="id" property="id"/>
		<result column="user_id" property="userId"/>
		<result column="password" property="password"/>
		<result column="last_name" property="lastName"/>
		<result column="first_name" property="firstName"/>
		<result column="birthday" property="birthday"/>
		<result column="role" property="role"/>
	</resultMap>
	
	<!--出勤時間登録-->
	<insert id="insertAttendance">
		insert 
		into 
			work (
				user_id,
				year,
				month,
				date,
				attendance_hour,
				attendance_minute,
				work_status
			)
		values (
			#{userId},
			#{year},
			#{month},
			#{date},
			#{attendanceHour},
			#{attendanceMinute},
			#{workStatus}
		)
	</insert>
	
	<!--退勤時間登録（更新）-->
	<update id="updateLeaving">
		update 
			work
		set
			leaving_hour = #{work.leavingHour},
			leaving_minute = #{work.leavingMinute},
			rest_hour = #{work.restHour},
			rest_minute = #{work.restMinute},
			working_time_hour = #{work.workingTimeHour},
			working_time_minute = #{work.workingTimeMinute},
			over_time_hour = #{work.overTimeHour},
			over_time_minute = #{work.overTimeMinute}
		where
			user_id = #{work.userId}
		and
			year = #{work.year}
		and
			month = #{work.month}
		and
			date = #{work.date}
	</update>
	
	<!--勤怠情報取得-->
	<select id="selectWork" resultMap="work">
		select
			*
		from
			work
		where
			id = #{id}
	</select>
	
	<!--勤怠情報更新-->
	<update id="updateWork">
		update
			work
		set
			attendance_hour = #{work.attendanceHour},
			attendance_minute = #{work.attendanceMinute},
			leaving_hour = #{work.leavingHour},
			leaving_minute = #{work.leavingMinute},
			rest_hour = #{work.restHour},
			rest_minute = #{work.restMinute},
			working_time_hour = #{work.workingTimeHour},
			working_time_minute = #{work.workingTimeMinute},
			over_time_hour = #{work.overTimeHour},
			over_time_minute = #{work.overTimeMinute},
			work_status = #{work.workStatus}
		where
			id = #{work.id}
	</update>
	
	<!--勤怠情報月毎取得-->
	<select id="selectWorkListMonth" resultType="Work">
		select
			*
		from
			work
		where
			user_id = #{userId}
		and
			year = #{year}
		and
			month = #{month}
	</select>
	
	<!--同日勤怠情報取得（退勤ボタン押下時）-->
	<select id="selectWorkAttendance" resultMap="work">
		select
			*
		from
			work
		where
			user_id = #{userId}
		and
			year = #{year}
		and
			month = #{month}
		and
			date = #{date}			
	</select>
	
	<!--勤怠情報新規登録-->
	<insert id="insertWork">
		insert 
		into 
			work (
				user_id,
				year,
				month,
				date,
				attendance_hour,
				attendance_minute,
				leaving_hour,
				leaving_minute,
				rest_hour,
				rest_minute,
				working_time_hour,
				working_time_minute,
				over_time_hour,
				over_time_minute,
				work_status
			)
		values (
			#{userId},
			#{year},
			#{month},
			#{date},
			#{attendanceHour},
			#{attendanceMinute},
			#{leavingHour},
			#{leavingMinute},
			#{restHour},
			#{restMinute},
			#{workingTimeHour},
			#{workingTimeMinute},
			#{overTimeHour},
			#{overTimeMinute},
			#{workStatus}
		)
	</insert>
</mapper>